body{
    background-color: azure;
}

h1{
    font-family: georgia;
    color:brown;
    margin: 10px 20px;
}

p{
    font-family: georgia;
    font-size: 18px;
    margin: 10px 30px;
    text-align: justify;
}
.row{
    float:left;
    width: 100%;
    /* background-color: antiquewhite; */
    height:auto;
}
.left{
    float:left;
    width: 50%;
    background-color: aquamarine;
}

.right{
    float:right;
    width: 50%;
    background-color: burlywood;
}

img{
    height: 200px;
        border: 4px solid rgb(18, 228, 32);
        box-shadow: 5px 5px 5px rgb(65, 64, 64);
        margin: 10px 30px;
}

p{
    letter-spacing: 5px;
    line-height: 25px;
}